.heading {
    font-size: 35px;
    text-align: left;
    color: white;
    
    
}

.writings {
    float: left;
    margin: 0px 0% 0px 15%;
    color: white;
    
}

.posty { 
    margin: 10% 10% 0% 7%; 
    float: left;
    width: 25%;
    color: white;