.page {
    width: 50%;
    margin: 0% 25% 0% 25%;
    height: 90%;
    
        
}

.image {
    width: 100%;
    
}

.blog {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    margin: 0% 15% 0% 15%;
    align-content: center;
}

.blog_heading {
    font-size: 25px;
    float: left;
}

.writing {
    float: left;
    margin: 0px 0% 0px 15%;
    color: black;
    
    
}

.blog_heading{
    margin: 10px 15% 15px 15%;
}

.blog_writing {
    font-size: 15px;
    width: 100%;
    display: inherit;
    color: grey;
/*    margin: 5% 0 0 5%;*/

}

.t-box {
    height: 40%;
    overflow: scroll;
}